{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center m-4">
        {{ form_start(form) }}
        <h2 class="mb-5"> Ajouter une catégorie</h2>
        {{ form_widget(form) }}
        <button class="mt-5" type="submit"> Ajouter une catégorie</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
