@import "~bootstrap/scss/bootstrap";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

$primary: #5A7D7C;
$secondary: #DADFF7;
$tertiary: #232c33;
$quaternary: #a0c1d1;


body {
  background-color: $secondary;
}

nav {
  background-color: $tertiary;
}

.img-poster {
  width: 25%;
}
.icone {
  width: 90px;
}

h1 {
  margin-bottom: 5%;
}
a {
  text-decoration: none;
  color : black;
}